<p>
    Create a new Company
  </p>
<form style="margin-left: 20px" class="form-inline">
  <div class="form-group">
      <label for="inputCompany Name">Company name</label>
      <input class="form-control" 
      [(ngModel)] = "company.compName"
              type="text" id="inputCompany" name="companyName" />
  </div>

  <div class="form-group">
      <label for="inputPassword">Password</label>
      <input class="form-control" 
      [(ngModel)] = "company.password"
              type="text" id="inputPassword" name="companyPass"/>
  </div>

  <div class="form-group">
    <label for="inputEmail">Email</label>
    <input class="form-control" 
    [(ngModel)] = "company.email"
            type="text" id="inputEmail" name="companyEmail"/>
</div>
  <div>
    <button (click) = "createCompany()" type="submit" class="btn btn-default">Create</button>
    <br>
  </div>  

</form>
