<header>
    Welcome Admin 
  </header>

<ul class="nav navbar-nav navbar-right">
    <li><a href="http://localhost:4200/login.html" id="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
</ul>    
<hr>
<button class="btn btn-primary navbar-btn"routerLink="/createCompany">Create Company<span class="glyphicon glyphicon-search"></span></button>
<button class="btn btn-primary navbar-btn"routerLink="/removeCompany">Remove Company<span class="glyphicon glyphicon-search"></span></button>
<button class="btn btn-primary navbar-btn"routerLink="/updateCompany">Update Company<span class="glyphicon glyphicon-search"></span></button>
<button class="btn btn-primary navbar-btn"routerLink="/getCompany">Get Company<span class="glyphicon glyphicon-search"></span></button>
<button class="btn btn-primary navbar-btn"routerLink="/getAllCompanies">Get All Companies<span class="glyphicon glyphicon-search"></span></button>
<button class="btn btn-primary navbar-btn"routerLink="/createCustomer">Create Customer<span class="glyphicon glyphicon-search"></span></button>
<button class="btn btn-primary navbar-btn"routerLink="/removeCustomer">Remove Customer<span class="glyphicon glyphicon-search"></span></button>
<button class="btn btn-primary navbar-btn"routerLink="/updateCustomer">Update Customer<span class="glyphicon glyphicon-search"></span></button>
<button class="btn btn-primary navbar-btn"routerLink="/getCustomer">Get Customer<span class="glyphicon glyphicon-search"></span></button>
<button class="btn btn-primary navbar-btn"routerLink="/getAllCustomers">Get All Customers<span class="glyphicon glyphicon-search"></span></button>
<br>
<br>
<router-outlet></router-outlet>


